/* html {
    background: radial-gradient(circle at top left, #fdbb2d, #22c1c3);  
  } */
  
body{
   
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        background: #f2f2f2;
         text-align: center;
}
h1{
    display:inline-block;
    position:relative;
}

h1::after,h1::before{
    content: '';
    position:absolute;
    width: 120px;
    height: 3px;
    background-color:currentColor;
    top:0.6em;
    transform: scale(0);
    transition: all 0.02s ease-in;

}

h1:hover::before, h1:hover::after{
    transform: scale(1);
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.titulo_1{
    transform: translateY(-200px);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Cartas del home 1 */

.card1{
    transform: translateY(50px)  translateX(4em);
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card1 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);

}

.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card1 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a {
    color: #f3f3f3;
}

.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card1 .back p {
    letter-spacing: 1px;
} 

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*Cartas del home 2 */

.card2{
    transform: translateY(-20em)  translateX(30em);
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card2 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);
}

.card2 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card2 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card2 .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card2 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card2 .back .link a {
    color: #f3f3f3;
}

.card2 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card2 .back p {
    letter-spacing: 1px;
} 

.card2:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card2:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*Cartas del home 3 */

.card3{
    transform: translateY(-43em)  translateX(55em);
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card3 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card3 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);

}

.card3 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card3 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card3 .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card3 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card3 .back .link a {
    color: #f3f3f3;
}

.card3 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card3 .back p {
    letter-spacing: 1px;
} 

.card3:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card3:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


nav{
    background-image: url(/assets/Fondos/);
    height: 80px;
    width: 100%;

}
.enlace{
    position: absolute;
    padding: 20px 50px;
    right: 5000px;
    left: -1px;

}

.text_prin{
    width: 85%;
    height: 65%;
    transform: translateY(5em) translateX(6em);
    border-radius: 50px;
    border-style:solid;
    border-color:rgba(236,240,241,0.14);
    backdrop-filter:blur(3.76px) contrast(0) invert(0.17);
    color: #fff;

}
.Parrafo1{
    position: absolute;
    height: 50px;
    width: 90%;
    left: 150px;
    top: 250px;
    min-height:98px;
    width:734px !important;
    transform:translatex(466px) translatey(88px);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.logoprin{
    position: absolute;
    height: 500px;
    width: 500px;
    left: 100px;
    top: 180px;
    border-radius: 80px;
}
.Titulo{
    position: absolute;
    width:309px !important;
    transform:translatex(784px) translatey(64px);
    width: 90%;
    left: 30px;
    top: 180px;
    font-size: xx-large;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #4747ff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}

body::-webkit-scrollbar {
	width: 10px;
	background: #000000;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border-right: 2px solid #b1b1b1;
}
#check{
    display: none;
}
section{
    background: url(/assets/Fondos/Fondo1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80.5px);
}
footer{
    background-image: linear-gradient(45deg, #5c5c5c, #645b5e);
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

.hdvd{
    color:#fff;
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    
}
