/* html {
    background: radial-gradient(circle at top left, #fdbb2d, #22c1c3);  
  } */
  
body{
   
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        
         text-align: center;
}
h1{
    display:inline-block;
    position:relative;
}

h1::after,h1::before{
    content: '';
    position:absolute;
    width: 120px;
    height: 3px;
    background-color:currentColor;
    top:0.6em;
    transform: scale(0);
    transition: all 0.02s ease-in;

}

h1:hover::before, h1:hover::after{
    transform: scale(1);
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.titulo_1{
    transform: translateY(-200px);
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Cartas del home 1 */

.card1,
.card2,
.card3{
    transform: translateY(60px)  translateX(4em);
    position: relative;
    width: 300px;
    height: 350px;
    margin: 10px;
    display: inline-flex;
}

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card1 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);

}

.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card1 .back,
.card2 .back,
.card3 .back {
    transform: perspective(700px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 10px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card1 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a {
    color: #f3f3f3;
}

.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card1 .back p {
    letter-spacing: 1px;
} 

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*Cartas del home 2 */



.card2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card2 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);
}

.card2 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card2 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}



.card2 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card2 .back .link a {
    color: #f3f3f3;
}

.card2 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card2 .back p {
    letter-spacing: 1px;
} 

.card2:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card2:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/*Cartas del home 3 */


.card3 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card3 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);

}

.card3 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}

.card3 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}



.card3 .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card3 .back .link a {
    color: #f3f3f3;
}

.card3 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card3 .back p {
    letter-spacing: 1px;
} 

.card3:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card3:hover .back {
    transform: perspective(600px) rotateY(360deg);
}


nav{
    height: 120px;
    width: 100%;

}
@keyframes sonic {
    0%{
            background-position: 0px;
    }
    100%{
            background-position: -384px;
    }
}    

@keyframes link {
    0%{
            background-position: 0px;
    }
    100%{
            background-position: -384px;
    }
}
@keyframes volar {
    0%{
            background-position: 0px;
    }
    100%{
            background-position: -167px;
    }
}


.enlace{
    position: absolute;
    padding: 20px 50px;
    right: 5000px;
    left: -1px;

}
.text_prin{
    width: 85%;
    height: 65%;
    transform: translateY(5em) translateX(6em);
    border-radius: 50px;
    border-style:solid;
    border-color:rgba(236,240,241,0.14);

}
/* Heading */
.tex3 .cont h2{
    transform:translatex(63px) translatey(44px);
    margin-top:0px;
   }
   
   /* Tex3 */
   .cuadro_4 .Tarjeta2 .tex3{
    margin-bottom:0px;
    margin-right:0px;
   }
   
   /* Form Division */
   .cuadro_4 form{
    transform:translatex(0px) translatey(176px);
   }
   
   /* Text prin */
   section .text_prin{
    background-image:none !important;
    backdrop-filter:blur(15px) brightness(1.56);
    background-size:auto;
    color:rgb(255, 255, 255);
    background-clip:padding-box;
   }
   
.Parrafo1{
    position: absolute;
    height: 50px;
    width: 90%;
    left: 150px;
    top: 250px;
    min-height:98px;
    width:734px !important;
    transform:translatex(466px) translatey(88px);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.logoprin{
    position: absolute;
    height: 500%;
    width: 500%;
    left: 100%;
    top: 180%;
    border-radius: 80px;
}
.Titulo{
    position: absolute;
    width:309px !important;
    transform:translatex(784px) translatey(64px);
    width: 90%;
    left: 30px;
    top: 180px;
    font-size: xx-large;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}

.box{
    background-color: black;
}
/* Navigation */
.box nav{
 height:71px;
}

/* Enlace */
.box nav .enlace{
 height:73px;
 top:-23px;
}

@media (min-width:953px){

 /* Enlace */
 .box nav .enlace{
  padding-left:42px;
 }
 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}
.gameover{
    height: 50px;
    width: 50px;
}
body::-webkit-scrollbar {
	width: 10px;
	background: #000000;
}

body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	border-right: 2px solid #b1b1b1;
}
#check{
    display: none;
}
section{
    background: url(/assets/Fondos/Fondo27.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80.5px);
}
footer{
    background-image: linear-gradient(45deg, #5c5c5c, #645b5e);
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
.cuadro_2{
    min-height:962px;
    color: rgb(152, 121, 196);
}
.cuadro_3{
    min-height:962px;
    color: rgb(83, 255, 68);
}
.cuadro_4{
    min-height:1000px;
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    
}
.hdvd{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    top:-16px;
 
}
.game{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    transform: translateX(-280%) translateY(50%);
}

/*cartas descarga*/
.card_d0, .card_d1, .card_d2, .card_d3 {
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 138, 138, 0.593);
    opacity: 0;
    transition: .5s;
}

.content h2, h3, p, a {
    color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
}

.card_d0:hover .content {
    opacity: 1;
}
.card_d1:hover .content {
    opacity: 1;
}
.card_d2:hover .content {
    opacity: 1;
}
.card_d3:hover .content {
    opacity: 1;
}
.card_d0{
    position: relative;
    transform: translateX(100%) translateY(10%);
  }
  
.card_d1{
  position: relative;
  transform: translateX(520%) translateY(-205%);
}

.card_d2{
    position: absolute;
    transform: translateX(320%) translateY(-280%);
}
.card_d3{
  position: absolute;
    transform: translateX(320%) translateY(-425%);
  }
.card_d2{
  position: absolute;
    transform: translateX(320%) translateY(-315%);
  }
  .Tarjeta1,
  .Tarjeta2,
  .Tarjeta3{
    transform: translateY(50px)  translateX(4em);
    position: relative;
    width: 300px;
    height: 200px;
    margin: 20px;
}

.Tarjeta1 .face,
.Tarjeta2 .face,
.Tarjeta3 .face {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.Tarjeta1 .front,
.Tarjeta2 .front
.Tarjeta3 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
    transform: translateX(8px);

}
.tex1,
.tex2,
.tex3{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 85vw;
    overflow: hidden;
    text-align: justify;
    background: #ffffff;
    height: 40vh;
    margin: 5em;
    border-radius: 1em;
    box-shadow: 0 5px 10px rgb(255, 255, 255);
}
.cont,
.cont2,
.cont3{
    grid-column: 3/10;
    margin: 6em;
    text-align: justify;
}
.cont p,
.cont2 p,
.cont3 p{
    color: #000;
    margin-right: -4em;
    margin-top: -4em;
    text-align: left;
}
.cont h2,
.cont2 h2,
.cont3 h2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0, 0, 0);
    text-align: center;
    margin-top: 8em;
}

.cuadro_4 h1{
    font-size: 4em;
    color: #f0f0f0;
    text-align: center;
    margin-top: -4em;
}
.cuadro_4 .Tarjeta2 .tex3{
    width:782px;
   }
.Tarjeta1 .tex1 h3,
.Tarjeta2 .tex2 h3,
.Tarjeta3 .tex3 h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 45px;
 
    background: rgba(0,0,0,.4);
    text-align: center;
}

.Tarjeta1 .front img,
.Tarjeta2 .front img,
.Tarjeta3 .front img,
.Tarjeta4 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 1px;
}


/*Cartas del home 3 */
.cuadro_4 .Tarjeta3 .tex3{
    height:218px;
    margin-bottom:0px;
   }


/*posible*/

/* Tex2 */
.cuadro_4 .Tarjeta2 .tex2{
    width:785px;
    margin-right:0px;
    margin-top:110px;
   }
   
   /* Tex1 */
   .cuadro_4 .Tarjeta1 .tex1{
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    width:785px;
   }
   
   /* Heading */
   .tex1 .cont h2{
    transform:translatex(75px) translatey(41px);
    margin-top:0px;
   }
   
   /* Cuadro 4 */
   .cuadro_4{
    transform:translatex(0px) translatey(0px);
    width:100%;
   }
   
   /* Heading */
   .tex2 .cont2 h2{
    margin-top:0px;
    transform:translatex(63px) translatey(57px);
    width:294px;
   }
   

   
   /* Paragraph */
   .tex3 .cont3 p{
    transform:translatex(0px) translatey(-54px);
   }
   
   /* Heading */
   .tex3 .cont3 h2{
    transform:translatex(54px) translatey(6px);
   }

   section.text_prin, section.cuadro_2,h1, section.cuadro_3,p{
    cursor: default;
   }
   